body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./bera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #333;
    margin-right: 1200px;
    color: #f2eaea;
}

.info {
    color: #f2eaea;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 500px;
}

.info p {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #683632;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid transparent;
    margin-top: 20px;
}

button:hover {
    background-color: #6836325f;
}

#connectButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.past-winners {
    margin-top: 20px;
    color: #f2eaea;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.past-winners h2 {
    margin-top: 0;
}

.past-winners div {
    margin-bottom: 10px;
}
